/* Reset des styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif; /* Police générique */
  }
  
  /* Styles pour le header */
 
  .hero-content h1 {
    font-size: 3em; /* Taille de police augmentée */
    color: #333;
    margin-bottom: 20px;
  }
  
  .hero-content p {
    font-size: 1.4em; /* Taille de police augmentée */
    color: #666;
    margin-bottom: 30px;
  }
  
  .btn {
    background-color: #7986c7;
    color: #fff;
    padding: 12px 24px; /* Ajustement de la taille du bouton */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2em; /* Taille de police augmentée */
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #7986c7;
  }
  
  /* Styles pour le footer */
  footer {
    background-color: #7986c7;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
